name: Go

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  Test:
    strategy:
      matrix:
        go-version: [1.26.x]
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}

    - name: Build
      run: go install -v ./...

    - name: Test
      run: cd dqltest && go run .
